.banner {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.banner h2 {
    padding: 17% 0 5%;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

body {
    font-family: segoe;
}

h1, h2, h3, h4, h5, h6 {
    font-family: segoe-semi-bold;
}
p {
    color: #4d4b4b;
}
button {
    border: none;
}
textarea {
    resize: none;
}
abbr[title] {
    text-decoration: none;
}
section {
    padding: 70px 0px;
}
.banner-icon img{
    margin-bottom: .5em;
}
.ad-orangeGradient {
    background: linear-gradient(125deg, #F46262, #F2AB21);
}
.ad-redBtn {
    background: #f46361;
}
.ad-black {
    color: #4d4b4b;
}
