.carousel-title h1{
    font-family: helvetica-bold !important;
    font-size: 4rem;
    letter-spacing: 8px;
}
.carousel-title h2{

    font-family: helvetica-light !important;
    font-size: 2.3rem;
    letter-spacing: 3.7px;
    text-indent: -10px;
}


.timeline {
    position: relative;
    list-style: none;
    padding: 1rem 0;
    margin: 0;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -1px;
    background-color: #50a1ff;
}

.timeline-element {
    position: relative;
    width: 50%;
    padding: 1rem 0;
    padding-right: 2.5rem;
    text-align: right;
}

.timeline-element::before {
    content: '';
    position: absolute;
    right: -8px;
    top: 1.35rem;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #50a1ff;
    background-color: #fff;
}

.timeline-element:nth-child(even)::before {
    right: auto;
    left: -8px;
}

.timeline-element:nth-child(even) {
    margin-left: 50%;
    padding-left: 2.5rem;
    padding-right: 0;
    text-align: left;
}

@media (max-width: 767.98px) {
    .timeline::before {
        left: 8px;
    }
}

@media (max-width: 767.98px) {
    .timeline-element {
        width: 100%;
        text-align: left;
        padding-left: 2.5rem;
        padding-right: 0;
    }
}

@media (max-width: 767.98px) {
    .timeline-element::before {
        top: 1.25rem;
        left: 1px;
    }
}

@media (max-width: 767.98px) {
    .timeline-element:nth-child(even) {
        margin-left: 0rem;
    }
}

@media (max-width: 767.98px) {
    .timeline-element {
        width: 100%;
        text-align: left;
        padding-left: 2.5rem;
        padding-right: 0;
    }
}

@media (max-width: 767.98px) {
    .timeline-element:nth-child(even)::before {
        left: 1px;
    }
}

@media (max-width: 767.98px) {
    .timeline-element::before {
        top: 1.25rem;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331 !important;
    }
}

.carousel, .carousel .carousel-inner, .carousel .carousel-inner .active, .carousel .carousel-inner .carousel-item, .view, body, html {
    height: 100%
}

.navbar {
    background-color: rgba(0, 0, 0, .3);

}

.top-nav-collapse {
    background-color: #fff
}

.page-footer {
    background-color: #333;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;

    }

    .project-gallery figure {
        display: flex;
        justify-content: center;
    }
}
.ss-dropdown{
    margin: 0 !important;
    background-color: rgba(0,0,0,.8) !important;
}
.ss-dropdown ul li{
    margin: .5rem 0 !important;

}
@media screen and (max-width: 992px){
    .ss-dropdown ul li{
        margin: 0 !important;

    }
    .nav-link {
        padding: .5rem 1rem !important;
    }
    .ss-link{
        padding: .5rem 1rem !important;
    }
    .ss-dropdown div{
        padding-right: 1.5em !important;
        padding-left: 1.5em !important;
    }
}

.navbar.scrolling-navbar .dropdown-menu {
    background-color: rgba(0, 0, 0, .3);
    margin-top: 2.06rem;
}


.navbar.scrolling-navbar .dropdown-item {
    color: #fff !important;
}

.navbar.scrolling-navbar.top-nav-collapse .dropdown-item {
    color: #4d4b4b !important;
}

.navbar.navbar-expand-lg.navbar-dark.transparent.fixed-top.scrolling-navbar.top-nav-collapse .ss-dropdown .sub-menu a:hover {
    color: #fff !important;
    transition: unset !important;
}

.navbar.scrolling-navbar .dropdown-menu {
    border: 0;
    border-radius: 0;
}

.menu-item{
    border-radius:5px;
    padding: 10px 0 10px 20px !important;
}
.menu-item:hover {
    background: linear-gradient(125deg, #F46262, #F2AB21);
    background-color: transparent !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.navbar-brand-text {
    text-align: center;
    display: table;
    margin: auto;
    font-family: segoe-semi-bold;
    line-height: 1.5rem;

}

.navbar.scrolling-navbar .navbar-brand .navbar-brand-text {
    font-size: 0.78rem;
    /*transform: scale(1);*/
}

.navbar.scrolling-navbar.top-nav-collapse .navbar-brand .navbar-brand-text {
    color: #000;
    font-size: 0.7rem;
    line-height: 0.9rem;
    /*transform: scale(0.9);*/

}

.navbar.scrolling-navbar .navbar-brand img {
    max-width: 4rem;
    /*transform: scale(1);*/
    transition: all ease 0.4s;
}

.navbar.scrolling-navbar.top-nav-collapse .navbar-brand img {
    max-width: 3.5rem;
    /*transform: scale(0.8);*/
    transition: all ease 0.4s;
}

.navbar.scrolling-navbar {
    padding:0px !important;
}

.navbar.scrolling-navbar.top-nav-collapse {
    padding: 5px 0px !important;
}
.nav-link{
    padding: 2.2rem 0.6rem;
}
.ss-link{
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;
}
.nav-item.show .nav-link{
    background-color: rgba(0,0,0,0.7) !important;
}
.navbar.navbar-expand-lg.navbar-dark.transparent.fixed-top.scrolling-navbar.top-nav-collapse .nav-link {
    color: #000 !important;
    background-color: unset !important;
    font-size: 0.9rem;
}

.navbar.navbar-expand-lg.navbar-dark.transparent.fixed-top.scrolling-navbar.top-nav-collapse .nav-link {
    color: #000 !important;
    font-size: 0.9rem;
}
.navbar.navbar-expand-lg.navbar-dark.transparent.fixed-top.scrolling-navbar.top-nav-collapse .ss-dropdown{
    background-color: rgba(255,255,255,0.9) !important;
}
.navbar.navbar-expand-lg.navbar-dark.transparent.fixed-top.scrolling-navbar.top-nav-collapse .ss-dropdown .sub-menu a{
    color: #000;
}

@media screen and (max-width: 852px) {
    .navbar.navbar-expand-lg.navbar-dark.transparent.fixed-top.scrolling-navbar.top-nav-collapse .nav-link {
        color: #fff !important;

    }
}


section {
    padding: 70px 0px;
}

.why-aldin-row {
    margin-top: 50px;
}

.why-aldin-row h6 {
    color: #4d4b4b;
}

.why-aldin {
    font-weight: lighter;

}

.section-highlight {
    background-color: #f4f7fa;
}

.contact-banner {
    background-image: url("../images/map.png");
}

.solution-service-banner {
    background-image: url("../images/solutionservice-banner.jpg");
}

.about-banner {
    background-image: url("");
}
.gallery a{
    color: #fff;
}
.gallery a:hover{
    color: #fff;
}
.gallery-banner {
    background-image: url("");
}

.core-values h5 {
    color: #4d4b4b;
}

.map {
    border-radius: .25rem;
}

.timeline::before {
    background-color: #b7d9fb;
}

.timeline-element::before {
    border: 2px solid #b7d9fb;
}


.nav-item {
    margin-left: 15px;
}

.our-clients img {
    height: 50px;
}

.statements .card-icon i.fa-bullseye-arrow {

    background-color: transparent;
    background: radial-gradient(circle at 33% 100%, #F77B7B 4%, #FBB615BA 30%, #F45E5E 62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.statements .card-icon i.fa-eye {

    background-color: transparent;
    background: radial-gradient(circle at 33% 100%, #FFCF146E 4%, #DF3939B5 30%, #F2AB21 62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*experience*/

.work-experience .company-logo {
    max-width: 3rem;
}

/*footer*/

.footer-logo img {
    max-width: 3.5rem;
}

.footer-logo-text {
    line-height: 1.5rem;
    text-transform: uppercase;
}

.footer-logo-text span {
    font-size: 1.14rem;
}

@media screen and (max-width: 480px) {
    .footer-logo img {
        max-width: 3rem;
    }

    .footer-logo-text {
        line-height: 1.2rem;
        font-size: 1.2rem;
    }

    .footer-logo-text span {
        font-size: 0.786rem;
    }
}

/* Gallery */


.project-gallery-detail .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.project-gallery-detail .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.project-gallery-detail .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 450px) {
    .project-gallery-detail .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

.project-gallery figure, .mdb-lightbox figure {
    padding: 0 9px 9px 0 !important;
    margin: 0;
}
.ad-bq{
    border-image-source: linear-gradient(to bottom,  #F46262 0%,  #F2AB21 100%);
    border-image-slice: 1;
    border-left: 4px solid transparent;
    padding: .5rem 2.5rem;
}
.ss-text{
    text-align: justify;
    line-height: 2;
}
.ss-heading{
    margin:0 0 5rem;
}


@media screen and (max-width: 992px) {
    .col-lg-8.manufacturing-img img, .col-lg-4.manufacturing-img img{
        height: auto !important;
    }
    .manufacturing-img:first-child{
        margin: 0 0 1.5rem;
    }
    .plant-img img{
        height: auto !important;
        width: 100% !important;
    }
    .plant-img:nth-child(2){
        margin-top: 1.5rem;
    }
    .installation-img{
        margin-top: 1.5rem;
    }
    .design-engineering-img{
        margin-top: 1.5rem;
    }
    .om-img{
        height: auto !important;
        margin-top: 1.5rem;
    }
    .carousel-title h2{
        font-size: 1.74rem !important;

    }
    .carousel-title h1{
        font-size: 3rem !important;
    }
    .logo-on-slide{
        width: 18% !important;
        margin: 0 auto 2rem !important;
    }
}

@media screen and (max-width: 768px) {
    .ss-img{
       text-align: center !important;
    }
    .ss-text{
        text-align: center;
        margin: 2rem 0 !important;
    }
    .ss-heading{
        margin: 0;
    }
    .carousel-title h2{
        font-size: 1.16rem !important;

    }
    .carousel-title h1{
        font-size: 2rem !important;
    }
    .logo-on-slide{
        display: none !important;
    }
}

.col-lg-8.manufacturing-img img{
    height: 100%;
}
.plant-img img{
    height: 25rem;
}
.logo-on-slide {
    width: 23%;
    margin: 0px auto 4rem;
}
.ss-section img.card-img-top{
    margin:2rem auto auto;
    width: 60% !important;
}
.ss-section img.tank-img{
    width: 55%;
    margin: 1rem auto;

}
.card{
    height: 100%;
}
.fab-2{
    height: 30rem;
}
.overhauling-img img{
    height: 25rem;
}
.installation-ul li{
    margin: 1rem 0 0;
}
.om-img{
    height: 100% !important;
}
